{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>À propos de ProxyTech</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static  'styleAboutUs.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static  'resources/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static  'resources/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static  'resources/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static  'resources/favicon/site.webmanifest' %}">
</head>
<body>
{% include 'header.html' %}
<header class="main_section">
    <div class="container_h1">
        <h1>À propos de Proxytech</h1>
    </div>
</header>

<main>
    <section class="about_us">
        <div class="container_about">
            <div class="about_text">
                <h2>Notre Histoire</h2>
                <p>Bienvenue chez Proxytech! Nous sommes Ludovic et Nathan, deux passionnés d'informatique et
                    d'électronique. Nos chemins se sont croisés lors de nos études en informatique, et depuis, nous
                    n'avons cessé de bricoler et de perfectionner nos compétences. De cette passion commune est née
                    l'idée de Proxytech.</p>
                <h2>Notre Mission</h2>
                <p>Chez Proxytech, nous croyons en une technologie durable. À une époque où la surconsommation est
                    monnaie courante, nous nous engageons à prolonger la durée de vie de vos appareils. Notre objectif
                    est de promouvoir une économie circulaire tout en offrant des services rapides, de qualité et
                    conviviaux.</p>
                <h2>Nos Services</h2>
                <ul>
                    <li><strong>Réparation de tours et portables</strong></li>
                    <li><strong>Nettoyage et optimisation des appareils</strong></li>
                    <li><strong>Migration et récupération de données</strong></li>
                    <li><strong>Réparation de smartphones</strong></li>
                </ul>
                <p>Ne laissez pas vos appareils prendre la poussière. Confiez-les-nous, et nous en prendrons soin comme
                    s'il s'agissait des nôtres. Nous sommes là pour vous aider à améliorer votre expérience
                    technologique au quotidien.</p>
                <p class="signature">Ludovic & Nathan</p>
            </div>
            <div class="about_photo">
                <img src="https://img-9gag-fun.9cache.com/photo/amPM0VV_460s.jpg" alt="Ludovic et Nathan">
                <div class="cv_links">
                    <a href="#" target="_blank">Site web de Ludovic</a>
                    <a href="#" target="_blank">Site web de Nathan</a>
                </div>
            </div>
        </div>
    </section>
</main>
{% include 'footer.html' %}
</body>
</html>