body {
    font-family: 'Raleway', sans-serif;
    background-color: #eee;
}

/*-----------------------configuration css du header---------------------------*/
.main_section {
    background-size: cover;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)), url('resources/main_background_2.png') no-repeat local top;
    width: auto;
    height: 42em;
}

main .container_h1 {
    color: #eee;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    padding: 2em 3em 3em;

}

main .container_h2 {
    color: #eee;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 3em;
}

.container_main {
    width: 50em;
    height: auto;
}

/*------------------configuration de la section nos réparations-----------------*/
.nos_reparations {
    height: 55em;
}

.container_article_rep {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titre_rep {
    font-size: 3.5em;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

.titre_rep_light {
    font-size: 3.5em;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
    color: white;
}

.shape_title {
    background-color: #20fdea;
    height: 0.5em;
    width: 10em;
    border-radius: 1em;
    margin: auto auto 5em;
}

.art_rep {
    width: 20em;
    height: auto;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 2em;
    padding: 2em;
    background-color: white;
    text-align: center;
    border-radius: 2em;
}


.art_rep h2 {
    padding: 0.5em;
}

.art_rep p {
    line-height: 1.7em;
}

/*------------------configuration de la section nos services-----------------*/
.nos_services {
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url('resources/nettoyage_pcb.jpg') no-repeat bottom;
    padding: 1em;
    height: auto;
}

.art_service {
    width: 20em;
    height: auto;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 2em;
    padding: 2em;
    display: block;
    flex-direction: column;
    background-color: white;
    text-align: center;
    border-radius: 2em;
}

.art_service h2 {
    padding: 0.5em;
}

.art_service p {
    line-height: 1.7em;
}

.boutton_en_savoir_plus {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border-radius: 2em;
    background-color: black;
    width: 10em;
    height: auto;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: white;
    margin-bottom: 1em;
    transition: all 0.5s ease;
}

.boutton_en_savoir_plus_light {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border-radius: 2em;
    background-color: white;
    width: 10em;
    height: auto;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: black;
    margin-bottom: 1em;
    transition: all 0.5s ease;
}

.boutton_en_savoir_plus:hover {
    color: #24262b;
    background-color: #95fbf2;
}

.boutton_en_savoir_plus_light:hover {
    color: #95fbf2;
    background-color: #24262b;
}

/*------------------configuration de la section nos services-----------------*/


.container_article_service {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*--------------configuration de la section de Comment procéder---------------*/
.Procedure {
    height: 55em;
}

.container_article_process {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.2em;
}

.caseArticle_devis {
    width: 20em;
    height: 20em;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url('resources/devis_sign.png') no-repeat;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 2em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 10px #e6e6e6;
    transition: 0.3s ease-in-out;
    background-color: #eee;
    text-align: center;
    border-radius: 2em;
    color: white;
}


.caseArticle_dep {
    width: 20em;
    height: 20em;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url('resources/camionnette.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 2em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 10px #e6e6e6;
    transition: 0.3s ease-in-out;
    background-color: #eee;
    text-align: center;
    border-radius: 2em;

    color: white;
}

.caseArticle_inter {
    width: 20em;
    height: 20em;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url('resources/mobile-repear.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 2em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 10px #e6e6e6;
    transition: 0.3s ease-in-out;
    text-align: center;
    border-radius: 2em;

    color: white;
}

.caseArticle_fin {
    width: 20em;
    height: 20em;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url('resources/animeMaterialoffice.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 2em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 10px #e6e6e6;
    transition: 0.3s ease-in-out;
    background-color: #eee;
    text-align: center;
    border-radius: 2em;

    color: white;
}

.pro_titre {
    margin: 40px;
}

/*--------------------------------CONTACT-----------------------------------------------*/
.contact_text {
    width: 100%;
    display: block;
}

.contact_info {
    margin: 3em 1em 3em 50%;
    width: auto;
    align-items: center;
}

.grid_contact_map {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 80px;
    background-color: #f6f6f6;
}

.patern_map {
    margin: 3em auto 3em 1em;
}

/*ajuste media pour tout les section d'informations */
@media (max-width: 1630px) {
    body {
        margin: 0;
        padding: 0;
    }

    .main_section {
        background-position: right;
    }

    .container_main {
        width: auto;
        text-align: center;
    }

    .nos_reparations {
        height: auto;
        width: auto;
    }

    .nos_services {
        height: auto;
    }

    .Procedure {
        height: auto;
    }
}