/*---------Implémentation pour la barre menu de navigation avec le logo -------------------*/
.container_nav {
    position: sticky;
    z-index: 10;
    top: 0;

}

.navbar {
    background-color: rgb(28, 37, 64, 0.90); /* Fond gris avec opacité */
    height: 5em;
    color: #cacaca;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;

    a {
        color: #cacaca;
        text-decoration: none;
        margin-bottom: 20px;
        transition: all 0.3s ease;
    }

    a:hover {
        color: #fdfdfd;
        text-shadow: 0 0 20px rgb(90, 190, 189, 1); /* Brilliance turquoise */
    }

}

.logo {
    height: 5em;
}

.nav-list {
    list-style-type: none;
}

.nav-list .list-item {
    display: inline-block;
    padding: 2em 1em;
    transition: all 0.3s ease;
}

.menu_icon {

    display: none;
}

.menu_icon_line {
    width: 1.3em;
    height: 3px;
    background-color: #5abebd;
    margin-bottom: 0.25em;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px,
    rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

/* menu de navigation en retrécicement sur les 3 barres*/
@media all and (max-width: 60em) {
    .navbar {
        flex-direction: column;
        height: auto;
    }

    .navbar .container_icon {
        width: 100%;
    }

    .menu_icon {
        display: block;
        position: absolute;
        right: 3em;
        top: 3em;
    }

    .nav-list {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;

        .list-item {
            display: block;
            border-top: 1px solid black;
        }
    }

    .logo {
        margin-top: 1em;
        margin-left: 1em;
    }

    .active_head {
        display: block;
    }
}