<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>ProxyTech</title>
    <link href="{% static  'style.css' %}" rel="stylesheet">
    <link href="{% static  'dynamique.css' %}" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static  'resources/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static  'resources/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static  'resources/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static  'resources/favicon/site.webmanifest' %}">
</head>
<body>
{% include 'header.html' %}
<main>
    <section class="main_section">
        <h1>Des experts à votre porte pour réparer et connecter votre numérique</h1>
        <h4>Nous réparons ordinateurs portables, pc, smartphones, tablettes et console de jeux.
            Nous concevons et personalisons des pc sur mesure.
            nous somme aussi disponible pour des installations et pour vos projet de digitalisation.
        </h4>
    </section>
</main>
<section class="nos_reparations">
    <h1 class="titre_rep">Nos réparations</h1>
    <hr>
    <div class="container_article_rep reveal">
        <article class="art_rep first_left">
            <img alt="photo d'un smartphones" height="100em" src="{% static 'resources/emoticone_phone.png' %}"
                 width="100em">
            <header>
                <h4>Smartphones</h4>
            </header>
            <p>Nous intervenons sur tout type de marques et modèles sur devis.</p>
        </article>
        <article class="art_rep">
            <img alt="photo d'un pc portable" height="100em" src="{% static 'resources/emoticone_computer.png' %}"
                 width="100em">
            <header>
                <h4>Pc portables</h4>
            </header>
            <p>Réparation et intervention sur tout problèmes materiels et logiciels sur vos portable.</p>
        </article>
        <article class="art_rep">
            <img alt="photo d'un pc de bureau" height="100em" src="{% static 'resources/emoticone_bureau.png' %}"
                 width="100em">
            <header>
                <h4>Pc fixes</h4>
            </header>
            <p>Nous réparons les problèmes materiels et logiciels sur vos ordinateurs et nous faisons aussi de la
                customisation.</p>
        </article>
        <article class="art_rep first_right">
            <img alt="phton d'une mannette" height="100em" src="{% static 'resources/emoticone_controller.png' %}"
                 width="100em">
            <header>
                <h4>consoles de jeu</h4>
            </header>
            <p>Réparation et nettoyage sur tout type de console.</p>
        </article>
    </div>
    <a href="#" class="reveal">
        <button type="button">En savoir plus</button>
    </a>
</section>
<section class="nos_services">
    <h1 class="titre_rep_light">Nos autres services</h1>
    <hr>
    <div class="container_article_service reveal">
        <article class="art_service first_left">
            <img alt="photo du réseau" height="100em" src="{% static 'resources/network.png' %}" width="100em">
            <header>
                <h5>Installation réseau</h5>
            </header>
            <p>Nous installons tout type de réseau domestique ou de PME.</p>
        </article>
        <article class="art_service">
            <img alt="photo du réseau" height="100em" src="{% static 'resources/clean.png' %}" width="100em">
            <header>
                <h5>Dépoussiérage</h5>
            </header>
            <p>Éliminez les problèmes de surchauffe et faites durer vos appareils électroniques plus longtemps avec
                notre nettoyage professionnel.</p>
        </article>
        <article class="art_service">
            <img alt="photo du réseau" height="100em" src="{% static 'resources/gamingPC.png' %}" width="100em">
            <header>
                <h5>PC sur mesure</h5>
            </header>
            <p>Nous réalisons vos rêves en conceptionnant sur mesure vos tours, que ce soit pour le gaming ou le
                professionnel.</p>
        </article>
        <article class="art_service first_right">
            <img alt="photo du réseau" height="100em" src="{% static 'resources/windows.png' %}" width="100em">
            <header>
                <h5>Logiciel et données</h5>
            </header>
            <p>Nous installons configurons les logiciels et Windows, Mais nous récupérons aussi vos données sur tout
                type d'appareil.</p>
        </article>
    </div>
    <a href="#" class="reveal">
        <button type="button">En savoir plus</button>
    </a>
</section>
<section class="Procedure">
    <h1 class="titre_rep">Comment procéder ?</h1>
    <hr>
    <div class="container_article_process reveal">
        <div class="case caseArticle_devis">
            <header>
                <h4>Le devis</h4>
            </header>
            <p>Nous vous proposons un devis adapté à vos besoins, dés le devis validé, nous procedons à la
                réparation.</p>
        </div>
        <div class="case caseArticle_dep">
            <header>
                <H4>Déplacement</H4>
            </header>
            <p>Ne bougez pas le petit doigt ! Nous nous déplaçons chez vous pour la réparation.</p>
        </div>
        <div class="case caseArticle_inter">
            <header>
                <h4>Intervention</h4>
            </header>
            <p>Nous intervenons à domicile ou dans notre atelier.</p>
        </div>
        <div class="case caseArticle_fin">
            <header>
                <h4>Tout est bien qui finit bien !</h4>
            </header>
            <p>Nous avons un services après vente et une garantie pour toutes nos interventions.</p>
        </div>
    </div>
    <a href="#" class="reveal">
        <button type="button">En savoir plus</button>
    </a>
</section>
<section>
    <div class="couleurdefond">
        <h1 class="titre_rep">Vous êtes interessé par nos service ?</h1>
        <hr>
        <div class="grid_contact_map">
            <address class="contact_col">
                <h6 class="info"><img alt="van_icon" height="30" src="{% static 'resources/van_icon.png' %}"
                                      width="30">
                    Intervention gratuite sur un rayon de 10 km de Braine-Le-Comte</h6>
                <h6 class="info"><img alt="clock_icon" height="30" src="{% static 'resources/clock_icon.png' %}"
                                      width="30"> Horaire
                    d'intervention : Lundi-Samedi 16-21h</h6>
                <h6 class="info"><img alt="phone_icon" height="30" src="{% static 'resources/phone_icon.png' %}"
                                      width="30">
                    Appelez-nous au <a href="tel:+32474312579">0474/31.25.79</a></h6>
                <h6 class="info"><img alt="mail_icon" height="30" src="{% static 'resources/mail_icon.png' %}"
                                      width="30">
                    Contactez-nous sur <a
                            href="mailto:proxytech.be@gmail.com?subject=Renseignement">proxytech.be@gmail.com</a></h6>
            </address>
            <aside class="contact_col">
                <iframe class="map" allowfullscreen=""
                        loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d81009.63712905788!2d4.
            057702631224662!3d50.616877264641914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x
            47c3b2d66c747c85%3A0xd25f42320ddba71b!2s7090%20Braine-le-Comte!5e0!3m2!1sfr!2sbe!4v1710880286922!5m2!1sfr!2sbe"
                ></iframe>
            </aside>
        </div>
    </div>
</section>
{% include 'footer.html' %}
<script type="text/javascript" src="{% static 'js/scrollReveal.js' %}"></script>
</body>
</html>